/* Layout Styles */
/* Site Wrapper */
.site-wrapper {
	position: relative;
	overflow: hidden;
}

/* Bootstrap Resets */
figure { margin: 0; }
body { position: relative; }

/* Gutenberg Blocks */
.alignfull,
.alignwide { padding: 0; }

.wp-block-embed__wrapper { border: 0.5rem solid $white; }

.full-block-md {
	.wp-block-columns {
		@extend .flex-sm-column;
		@extend .flex-lg-row;
	}

	.wp-block-column {
		@include media-breakpoint-down(md) { flex-basis: 100% !important; }
	}

	.page-slider-column {
		@extend .align-self-md-stretch;
		@extend .align-self-lg-start;
	}
}

.space-l-sm {
	@include media-breakpoint-up(sm) { margin-left: 20%; }
}

.space-l-xxl {
	@media (min-width: 1400px) { margin-left: 10%; }
}

.space-r-xxl {
	@media (min-width: 1400px) { margin-right: 10%; }
}