/* Login Form and Buttons Styles */
/* Admin Links */
.autentication-link {
	margin: 0;
	margin-top: 2rem;
	margin-right: 1rem;
	line-height: 1;

	@include media-breakpoint-up(md) { margin-top: 0; }

	a { color: $dark; }
}

/* Login */
#login {
	background-color: $dark;

	.login-form {
		.login-content {
			h2 {
				font-size: 1.6rem;
				color: $primary;
			}

			a {
				&:hover, &:focus, &:active { color: darken($primary, 6%) !important; }
			}
		}

		input[type=text],
		input[type=email],
		input[type=password] {
			border-color: darken($dark, 8%);
			background-color: darken($dark, 8%);
			color: $primary;

			&:-webkit-autofill {
				-webkit-box-shadow: 0 0 0px 1000px darken($dark, 8%) inset;
				-webkit-text-fill-color: $primary !important;
			}

			&:focus {
				border-color: $primary;
				box-shadow: none;
			}
		}

		::-webkit-input-placeholder { color: $gray-200; }
		:-moz-placeholder { color: $gray-200; }
		::-moz-placeholder { color: $gray-200; }
		:-ms-input-placeholder { color: $gray-200; }

		input[type=submit] {
			color: $dark;
			border-color: $primary;
			background-color: $primary;

			&:hover, &:focus, &:active {
				border: 1px solid darken($primary, 8%) !important;
				background-color: darken($primary, 8%) !important;
			}
		}
	}
}