/* UI Elements */
/* Preloader */
#preloader { background-color: $primary; }

/* Social List */
ul.social-list {
	li {
		a {
			color: $dark;

			&:after { opacity: 1; }
		}

		a:hover, a:focus, a:active {
			color: $primary;
			outiline: none;
		}
	}
}

/* Owl Carousel */
.owl-carousel {
	.owl-nav {
		button.owl-prev,
		button.owl-next {
			font-size: 2rem;
			color: $dark;

			&, & > span {
				display: inline-block;
				width: 20px; height: 20px;
				line-height: 10px;
			}

			&:hover, &:focus, &:active {
				color: $primary;
				outline: none;
			}

			&.disabled {
				cursor: default;
				opacity: 0.2;

				&:hover, &:focus, &:active { color: $dark; }
			}
		}

		button.owl-prev { margin-right: 1rem; }
	}

	.owl-dots {
		.owl-dot {
			width: 5px; height: 5px;
			background-color: $light;

			&.active { background-color: $primary; }

			&:focus, &:active { outline: none; }
		}
	}
}

/* Fancybox */
.fancybox-progress {
	background-color: $primary !important;
}

/* Page Slider */
.page-slider-column {
	@extend .penta;
	@extend .align-self-md-start;
	padding: 0 !important;

	&:after {
		left: 60%; bottom: 0;
		width: 40%;
		z-index: 2;

		// @include media-breakpoint-up(sm) { left: 60%; bottom: -30%; }
		// @include media-breakpoint-up(md) { bottom: 40%; }
		// @include media-breakpoint-up(lg) { bottom: 10%; }
	}

	.h-slider {
		width: 90%;
		@extend .align-self-end;
		margin-bottom: 50%;

		@include media-breakpoint-up(sm) { margin-bottom: 20%; }
	}

	.v-slider {
		width: 50%;
		position: absolute;
		bottom: 0;

		@include media-breakpoint-up(sm) { width: 40%; }
	}
}

.v-slider {
	width: auto;

	.owl-item img {
		width: auto;
		max-width: 100%;
	}
}

.page-slider {
	border: 0.5rem solid $white;
}

/* Pagination */
nav.pagination {
	.paginate-links {
		width: 100%;
		margin-top: 2rem;
		padding-top: 2rem;
		border-top: 2px solid $light;
	}

	.page-numbers {
		display: inline-block;
		width: 2rem; height: 2rem;
		text-align: center;
		text-decoration: none;
		line-height: 2rem;
		font-size: 1.2rem;

		&:hover:not(.current), &:focus:not(.current) { background-color: $light; }
	}
}

/* Flow Flow */
.ff-stream {
	padding: 10px 0 !important;
	background-color: transparent !important;

	article.ff-item { border: 1px solid $light; }

	span.ff-btn {
		@extend .btn-primary-big;
		font-size: 1.6rem;
	}
}

.ff-stream-wrapper {
	margin: 0 !important;
}

#ff-stream-1 {
	&, .ff-stream-wrapper {
		@include media-breakpoint-down(md) {
			display: block !important;
			width: 100% !important;
			max-width: 100vw !important;
		}
	}

	article.ff-item {
		border: none;
		padding: 0 0.5rem;

		.ff-item-cont { border: 1px solid $light; }
	}

	.ff-overlay-wrapper {
		position: initial !important;
		display: block !important;
		opacity: 1 !important;
	}

	.ff-has-overlay {
		.ff-item-cont {
			height: auto !important;
		}

		.ff-item-bar { position: relative !important; }
	}

	.ff-layout-grid .ff-has-overlay .ff-img-portrait img,
	.ff-layout-grid .ff-has-overlay .ff-img-landscape img {
		height: 100% !important;
		width: auto !important;
		min-width: auto !important;
		max-width: none !important;
		border-radius: 0 !important;
	}

	.ff-upic-round .ff-has-overlay .ff-img-holder,
	.ff-upic-round .ff-has-overlay .ff-overlay,
	.ff-upic-round .ff-has-overlay .ff-img-holder img { border-radius: 0 !important; }

	.ff-loadmore-wrapper { display: none !important; }
}

/* Decorative Elements */
.micro {
	position: relative;

	&:before {
		display: block;
		position: absolute;
		content: "";
		width: 150px;
		height: 150px;
		background: url(assets/theme/img/microphone.svg) no-repeat center center;
		background-size: cover;
		z-index: 2;
	}
}

.penta {
	position: relative;

	&:after {
		display: block;
		position: absolute;
		content: "";
		width: 500px;
		height: 48px;
		background: url(assets/theme/img/pentagram.svg) repeat-x center center;
		z-index: 2;
	}
}

/* Waypoints */
.is-animated {
	opacity: 0;

	&.animated { opacity: 1; }
}