/**
 * Front-end and Back-end Variables
 * 
 * @package dahtheme-child
 */
/* Colors */
$primary:   #50bae6;
$secondary: #cc32bb;
$tertiary:  #ff6200;
$light:     #f7f7f7;
$dark:      #222;
$white:     #fff;
$black:     #000;

$theme-colors: (
	"primary":    $primary,
	"secondary":  $secondary,
	"tertiary":   $tertiary,
	"white":      $white,
	"black":      $black,
	"light":      $light,
	"dark":       $dark
);

/* Colors for this Theme */
@each $name, $color in $theme-colors {
	.has-theme-color-#{$name}-background-color { background-color: #{$color} !important; }
	.has-theme-color-#{$name}-color { color: #{$color} !important; }

	a.has-theme-color-#{$name}-background-color {
		&:hover, &:focus, &:active { background-color: darken($color, 6%) !important; }
	}

	.is-style-outline a.has-theme-color-#{$name}-color {
		border-color: #{$color} !important;

		&:hover, &:focus, &:active {
			background-color: #{$color} !important;
			color: $light !important;
		}
	}
}

/* Fonts */
$font-family-sans-serif:      "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:           "EB Garamond", Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

/* Headings */
$headings-font-family:        $font-family-serif;