/**
 * Front-end and Back-end Variables
 * 
 * @package dahtheme-child
 */
/* Colors */
$primary:   #b1993e;
$secondary: #886b5a;
$tertiary:  #684f45;
$light:     #f5f4f4;
$dark:      #4a4746;

$theme-colors: (
	"primary":    $primary,
	"secondary":  $secondary,
	"tertiary":   $tertiary,
	"light":      $light,
	"dark":       $dark
);

$body-color:                  $dark !default;

/* Fonts */
$font-family-sans-serif:      "PT Sans Narrow", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:			  "EB Garamond", Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

/* Base */
$font-family-base:            $font-family-serif;

/* Headings */
$headings-font-family:        $font-family-serif;